const AWS = require("aws-sdk");

const AWS_ACCESS_KEY_ID = "YOUR_AWS_ACCESS_KEY_ID";
const AWS_SECRET_ACCESS_KEY = "YOUR_AWS_SECRET_ACCESS_KEY";
const AWS_REGION = "us-east-1";
const S3_BUCKET_NAME = "documents-impactus";

// Configura o SDK da AWS com as credenciais e região
AWS.config.update({
  accessKeyId: AWS_ACCESS_KEY_ID,
  secretAccessKey: AWS_SECRET_ACCESS_KEY,
  region: AWS_REGION,
});

export const s3 = new AWS.S3();
export { S3_BUCKET_NAME };

